{
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 150,
  "singleQuote": false,
  "trailingComma": "all",
  "semi": true,
  "singleAttributePerLine": false,
  "bracketSameLine": true,
  "arrowParens": "always"
}
